@keyframes ropePull {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: ropePull 0.2s ease;
}

.rope-container {
  display: flex;
  user-select: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 8vw;
  padding: 0;
  margin: 0;
}

.rope {
  margin: 0;
  padding: 0;
  width: 120%;
  height: auto;
  user-select: none;
  max-height: 220px;
  min-height: 80px;
  display: block;
}

app-rope-arrow-direction.arrow {
  position: absolute;
  top: 25%;
  width: 70%;
  margin-left: 15%;
  padding: 0;
  user-select: none;
  z-index: 2;
  pointer-events: none;
}
