.pauseboard {
  position: absolute;
  top: 40%; /* Fija el margen superior para el contenido */
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* El contenido se expande hacia abajo */
  background: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pauseboard-title {
  font-family: Stardew, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  width: auto;
  max-width: 90%;
  text-align: center;
  color: #1a1200;
  text-shadow:
    -2px -2px 0 #f3b94a,
    2px -2px 0 #f3b94a,
    -2px 2px 0 #f3b94a,
    2px 2px 0 #f3b94a;
}

.pauseboard-body {
  font-family: Stardew, sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
  width: auto;
  max-width: 90%;
  text-align: center;
  color: #1a1200;
  text-shadow:
    -2px -2px 0 #f3b94a,
    2px -2px 0 #f3b94a,
    -2px 2px 0 #f3b94a,
    2px 2px 0 #f3b94a;
}

.pauseboard-div {
  height: 150%;
  width: auto;
  max-height: 90vh;
  margin: -5% auto 0;
  position: fixed;
  z-index: 2;
  user-select: none;
  aspect-ratio: 2/3;
  left: 32%;
  top: -7%;
  transform-origin: 50% -15%;
}

.pauseboard-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  pointer-events: none;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.item-text {
  font-family: Stardew, sans-serif;
  font-size: 1.5rem;
  color: #1a1200;
  text-shadow:
    -1px -1px 0 #f3b94a,
    1px -1px 0 #f3b94a,
    -1px 1px 0 #f3b94a,
    1px 1px 0 #f3b94a;
}

.item-buy {
  font-family: Stardew, sans-serif;
  font-size: 1.9rem;
  background-color: #473616;
  color: #1a1200;
  text-shadow:
    -1px -1px 0 #f3b94a,
    1px -1px 0 #f3b94a,
    -1px 1px 0 #f3b94a,
    1px 1px 0 #f3b94a;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
  margin-left: 20px;
}

@media (width <= 1024px) and (width >= 601px) {
  .pauseboard-div {
    left: 10%;
    max-height: 80vh;
    aspect-ratio: 2/3;
    width: 80vw;
    margin: 0 auto;
  }

  .pauseboard-title {
    font-size: 2rem;
    max-width: 95%;
  }

  .pauseboard-body {
    font-size: 1.2rem;
    max-width: 95%;
  }
}

@media (width <= 600px) {
  .pauseboard-div {
    left: 0;
    top: -10%;
    width: 98vw;
    max-height: 90vh;
    aspect-ratio: 2/3;
    margin: 0 auto;
  }

  .pauseboard-title {
    font-size: 1.2rem;
    max-width: 98%;
  }

  .pauseboard-body {
    font-size: 1rem;
    max-width: 98%;
  }
}
