
.leaderboardRope img{
  position: fixed;
  top: -30px;
  left: 0;
  width: 150px; 
  z-index: 2; 
  object-fit: contain;

}

.statsRope img {
  position: fixed;
  top: -30px;
  right: 0;
  width: 150px; 
  z-index: 2; 
  object-fit: contain;

}
