<main>
  <app-banner></app-banner>

  <div class="ropes-wrapper">
    <app-rope
      #leaderboardRope
      class="leaderboardRope"
      [rotation]="-90"
      (click)="animationAndRedirection('leaderboardRope', '/leaderboard')"
    ></app-rope>
    <app-rope
      #statsRope
      class="statsRope"
      [rotation]="90"
      (click)="animationAndRedirection('statsRope', '/stats')"
    ></app-rope>
  </div>

  <app-playbutton
    class="playButton"
    (click)="animationAndRedirection('playButton', '/game')"
  ></app-playbutton>
</main>
