.leaderboard-rope,
.stats-rope {
  position: fixed;
  top: -5%;
  width: 10%;
  height: auto;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard-rope {
  left: 0;
}

.stats-rope {
  right: 0;
}

.shop {
  position: fixed;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 5%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.shop img {
  display: block;
  width: 100%;
}

@media (width <= 1024px) and (width >= 601px) {
  .leaderboard-rope,
  .stats-rope {
    width: 20%;
  }

  .shop {
    width: 10%;
  }
}

@media (width <= 600px) {
  .leaderboard-rope,
  .stats-rope {
    width: 35%;
    top: -40px;
  }

  .shop {
    bottom: 15%;
    width: 15%;
  }
}
