<main draggable="false">
  <app-banner></app-banner>

  <div class="ropes-wrapper">
    <app-rope
      #leaderboardRope
      class="leaderboard-rope"
      [rotation]="-90"
      [srcBackImage]="'assets/leaderboard/direction_leaderboard_up.avif'"
      (click)="animationAndRedirection('leaderboardRope', '/leaderboard')"
    ></app-rope>
    <app-rope
      #statsRope
      class="stats-rope"
      [rotation]="90"
      [srcBackImage]="'assets/leaderboard/direction_stats_up.avif'"
      (click)="animationAndRedirection('statsRope', '/stats')"
    ></app-rope>
  </div>

  <app-playbutton
    class="play-button"
    (click)="animationAndRedirection('playButton', '/game')"
  ></app-playbutton>
</main>
