<main class="main-content" draggable="false">
  <app-banner></app-banner>

  <div class="ropes-wrapper">
    <app-rope
      #leaderboardRope
      class="leaderboardRope"
      [rotation]="-90"
      [srcFrontImage]="'assets/leaderboard/direction.avif'"
      [srcBackImage]="'assets/leaderboard/direction_leaderboard_up.avif'"
      (click)="animationAndRedirection('leaderboardRope', '/leaderboard')"
    ></app-rope>
    <app-rope
      #statsRope
      class="statsRope"
      [rotation]="90"
      [srcFrontImage]="'assets/leaderboard/direction.avif'"
      [srcBackImage]="'assets/leaderboard/direction_stats_up.avif'"
      (click)="animationAndRedirection('statsRope', '/stats')"
    ></app-rope>
  </div>

  <app-playbutton
    class="playButton"
    (click)="animationAndRedirection('playButton', '/game')"
  ></app-playbutton>

  <app-rope-arrow-direction
    class="shop"
    [srcFrontImage]="'assets/leaderboard/direction_cave_down.png'"
    [srcBackImage]="'assets/leaderboard/direction_cave_down_2.png'"
    (click)="animationAndRedirection('shop', '/shop')"
  ></app-rope-arrow-direction>
</main>
