::ng-deep .yellowBirdElement img {
  display: flex;
  position: absolute;
  transition: transform 5s linear;
  width: 5%;
  z-index: 2;
  user-select: none;
  pointer-events: auto;
}

@media (max-width: 1024px) and (min-width: 601px) {
  ::ng-deep .yellowBirdElement img {
    width: 10%;
  }
}

@media (max-width: 600px) {
  ::ng-deep .yellowBirdElement img {
    width: 15%;
  }
}
