.heart img {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  user-select: none;
  width: 5%;
  pointer-events: none;
}

.timer {
  font-family: 'Stardew', sans-serif;
  font-size: 480%;

  z-index: 2;
  user-select: none;
  color: #f3b94a;
  text-shadow:
    -0.3vh -0.3vh 0 #7a5a1a,
    0.3vh -0.3vh 0 #7a5a1a,
    -0.3vh 0.3vh 0 #7a5a1a,
    0.3vh 0.3vh 0 #7a5a1a;
  pointer-events: none;
  text-align: left;

  margin-left: 10px;
}

.timerLetters {
  width: 150px;

  height: max-content;
  user-select: none;
  z-index: 2;
  pointer-events: none;
}

.timer-container {
  position: absolute;
  bottom: 4vh;
  left: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  z-index: 2;
  pointer-events: none;
}

@media (min-width: 1025px) {
  .timer-container {
    bottom: 1vh;
    left: 3vw;
  }

  .timerLetters {
    width: 145px;
  }

  .timer {
    font-size: 450%;
    margin-left: 40px;
  }
}

@media (max-width: 1024px) and (min-width: 601px) {
  .heart img {
    width: 10%;
    bottom: 12px;
    right: 12px;
    gap: 6px;
    pointer-events: none;
  }
  .timer {
    font-size: 300%;
    left: 150px;
    margin-bottom: -1vh;
    color: #f3b94a;
    text-shadow:
      -1.5px -1.5px 0 #7a5a1a,
      1.5px -1.5px 0 #7a5a1a,
      -1.5px 1.5px 0 #7a5a1a,
      1.5px 1.5px 0 #7a5a1a;
    pointer-events: none;
  }
  .timerLetters {
    width: 100px;
    pointer-events: none;
  }
  .timer-container {
    bottom: 2.5vh;
    left: 2vw;
    width: 40vw;
    aspect-ratio: 4/1;
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  .heart img {
    width: 18vw;
    bottom: 8px;
    right: 8px;
    gap: 4px;
    pointer-events: none;
  }
  .timer {
    font-size: 300%;
    left: 119px;
    color: #f3b94a;
    text-shadow:
      -1.5px -1.5px 0 #7a5a1a,
      1.5px -1.5px 0 #7a5a1a,
      -1.5px 1.5px 0 #7a5a1a,
      1.5px 1.5px 0 #7a5a1a;
    pointer-events: none;
  }
  .timerLetters {
    width: 100px;
    pointer-events: none;
  }
  .timer-container {
    bottom: 2.5vh;
    left: 2vw;
    width: 40vw;
    aspect-ratio: 4/1;
    pointer-events: none;
  }
}
