<div class="game-container" draggable="false" style="user-select: none">
  <div *ngFor="let bird of birds" class="bird-container" draggable="false">
    <app-bird1
      [id]="bird.id"
      class="yellowBirdElement"
      (birdDestroyed)="onBirdDestroyed(bird.id)"
      (click)="onBirdDestroyedByClick(bird.id)"
      draggable="false"
    >
    </app-bird1>
  </div>
  <div draggable="false">
    <img
      #timerElement
      src="assets/letters/time.png"
      class="timerLetters"
      draggable="false"
    />
  </div>
  <div class="timer" draggable="false">
    <span>{{ timeElapsed }}</span>
  </div>

  <app-health class="heart"></app-health>
</div>
