<div class="game-container" draggable="false" style="user-select: none">
  <div class="content-container">
    <app-bird
      *ngFor="let bird of birds"
      [id]="bird.id"
      [isPaused]="showPauseTab"
      [inShop]="showShopTab"
      (birdDestroyed)="handleBirdDestroyed($event)"
      draggable="false"
    ></app-bird>
    <div class="heart">
      <app-health></app-health>
    </div>
  </div>
  <div class="footer" draggable="false">
    <div class="footer-left">
      <div class="timer-container" draggable="false">
        <div draggable="false">
          <img
            #timerElement
            src="assets/letters/time.avif"
            class="timer-letters"
            draggable="false"
          />
        </div>
        <div class="timer" draggable="false">
          <span>{{ timerService.getTimeElapsed() }}</span>
        </div>
      </div>
    </div>

    <div class="footer-center">
      <div class="settings-icon">
        <img src="assets/icons/settings.avif" (mousedown)="togglePauseTab()" alt="Settings Icon" />
      </div>
    </div>

    <div class="footer-right">
      <div class="shop-icon">
        <img src="assets/icons/shop.avif" (mousedown)="toggleShopTab()" alt="Shop Icon" />
      </div>
    </div>
  </div>

  @if (showLeaderboard) {
    <div>
      <app-big-leaderboard
        [playerName]="playerService.getPlayerName()"
        [birdsDestroyed]="playerService.getBirdsDestroyed()"
        [timeSurvived]="timerService.getTimeElapsed()"
      ></app-big-leaderboard>
    </div>
  }

  @if (showShopTab) {
    <div>
      <app-shop-tab></app-shop-tab>
    </div>
  }

  @if (showPauseTab) {
    <div>
      <app-pause-tab (goHomeEvent)="leaveGame()"></app-pause-tab>
    </div>
  }
</div>
