<div class="game-container" draggable="false" style="user-select: none">
  <app-bird
    *ngFor="let bird of birds"
    [id]="bird.id"
    class="yellowBirdElement"
    (birdDestroyed)="onBirdDestroyed($event)"
    draggable="false"
  ></app-bird>

  <div class="timer-container" draggable="false">
    <div draggable="false">
      <img
        #timerElement
        src="assets/letters/time.avif"
        class="timerLetters"
        draggable="false"
      />
    </div>
    <div class="timer" draggable="false">
      <span>{{ playerService.getTimeElapsed() }}</span>
    </div>
  </div>

  <app-health class="heart"></app-health>

  @if (showLeaderboard) {
    <div>
      <app-big-leaderboard
        [playerName]="playerService.getPlayerName()"
        [birdsDestroyed]="playerService.getBirdsDestroyed()"
        [timeSurvived]="playerService.getTimeElapsed()"
      ></app-big-leaderboard>
    </div>
  }

  @if (showPauseTab) {
    <div>
      <app-pause-tab></app-pause-tab>
    </div>
  }
</div>
