.hearts {
  position: static;
  width: 150px;
  height: 70px;
}

.hearts div {
  position: absolute;
}

.hearts div:nth-child(1) {
  right: 0;
}

.hearts div:nth-child(2) {
  right: 62px;
}

.hearts div:nth-child(3) {
  right: 124px;
}

.hearts img {
  width: 75px;
  height: auto;
  user-select: none;
  pointer-events: none;
}
