.hearts {
  position: static;
  width: 150px;
  height: 70px;
}

.hearts div {
  position: absolute;
}

.hearts div:nth-child(1) {
  right: 0;
}

.hearts div:nth-child(2) {
  right: 62px;
}

.hearts div:nth-child(3) {
  right: 124px;
}

.hearts img {
  width: 75px;
  height: auto;
  user-select: none;
  pointer-events: none;
}

/* Ajustes para pantallas grandes */
@media (min-width: 1025px) {
  .hearts {
    width: 95; /* Aumenta el ancho del contenedor */
    height: 95px; /* Aumenta la altura del contenedor */
  }

  .hearts div:nth-child(2) {
    right: 80px; /* Ajusta la posición del segundo corazón */
  }

  .hearts div:nth-child(3) {
    right: 160px; /* Ajusta la posición del tercer corazón */
  }

  .hearts img {
    width: 90px; /* Aumenta el tamaño de los corazones */
  }
}
