<div class="hearts">
  <div>
    <img #firstHeartElement
      src="assets/hearts/heart.png"
      alt="first_heart"
      draggable="false"
      class="first_heart"
    />
  </div>
  <div>
    <img #secondHeartElement
      src="assets/hearts/heart.png"
      alt="second_heart"
      draggable="false"
      class="second_heart"
    />
  </div>
  <div>
    <img #thirdHeartElement
      src="assets/hearts/heart.png"
      alt="third_heart"
      draggable="false"
      class="third_heart"
    />
  </div>
</div>

