.flip-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.arrow {
  width: 70%;
  position: absolute;
  top: 10%;
  left: 0;
  backface-visibility: hidden;
  display: block;
}

.back {
  z-index: 1;
}

.front {
  z-index: 2;
}
