<div class="bigleaderboardDiv" #bigleaderboardElement>
  <img
    src="assets/leaderboard/big_leaderboard.avif"
    alt="leaderboard_table"
    class="bigleaderboardImg"
    draggable="false"
  />
  <div class="bigleaderboard">
    <span class="bigleaderboardTitle">¡You lost!</span>
    <span class="bigleaderboardBody">Player: {{ playerName }}</span>
    <span class="bigleaderboardBody"
      >Time survived: {{ timeSurvived }} seconds</span
    >
    <span class="bigleaderboardBody">Birds killed: {{ birdsDestroyed }}</span>

    <div class="go_home_button">
      <img
        src="assets/leaderboard/go_home.avif"
        (click)="goHome()"
        draggable="false"
      />
    </div>
  </div>
</div>
