<div class="bigleaderboard-div" #bigleaderboardElement>
  <img
    src="assets/leaderboard/big_leaderboard.avif"
    alt="leaderboard_table"
    class="bigleaderboard-img"
    draggable="false"
  />
  <div class="bigleaderboard">
    <span class="bigleaderboard-title">¡You lost!</span>
    <span class="bigleaderboard-body">Player: {{ playerName }}</span>
    <span class="bigleaderboard-body">Time survived: {{ timeSurvived }} seconds</span>
    <span class="bigleaderboard-body">Birds killed: {{ birdsDestroyed }}</span>

    <div class="go-home-button">
      <img src="assets/leaderboard/go_home.avif" (click)="goHome()" draggable="false" />
    </div>
  </div>
</div>
