.playButton {
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 13%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.playButton img {
  display: block;
  width: 100%;
}

@media (max-width: 1024px) and (min-width: 601px) {
  .playButton {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .playButton {
    top: 50%;
    width: 60%;
  }
}
