@font-face {
  font-family: 'Stardew';
  src: url('/assets/fonts/StardewValley.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Stardew', sans-serif;
  cursor:
    url('/assets/mouse/mouse_cursor.cur') 0 0,
    auto;
  z-index: 4;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: auto;
}
